#logo {
  width: 45px;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  padding-left: 55px;
}

.navbar ul a:hover {
  border-bottom: solid var(--highlight) 2px;
}

.navbar ul a {
  font-size: calc(18px+0.5vw);
  color: var(--black);
  font-weight: 300;
  transition: border 0.4s ease-in;
  border-bottom: solid var(--main-color) 2px;
  padding-bottom: 0.5rem;
}

.navbar > a {
  width: 45px;
  height: 45px;
}
